name: Deploy to VPS

on:
  push:
    branches:
      - dev  # Sesuaikan dengan branch yang mau dideploy (dev/main)

jobs:
  deploy-to-vps:
    runs-on: ubuntu-latest # Kita pakai server GitHub gratisan, lalu remote ke VPS
    
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          port: 22
          script: |
            # 1. Masuk ke folder project
            cd /var/www/my-project

            # 2. Ambil kodingan terbaru dari GitHub
            git pull origin dev

            # 3. Jalankan Docker Compose
            # Flag --build memaksa docker membuat ulang image dari kode baru
            # Flag -d menjalankan di background
            docker-compose up -d --build

            # 4. (Opsional) Hapus image bekas update agar disk VPS tidak penuh
            docker image prune -f