name: Build and push docker image dev
on:
  push:
    branches:
      - dev

jobs:
  build-and-push-docker-image:
    runs-on: self-hosted
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: reniuswatun/dev-frontend-merpatisolobakery:latest
          no-cache: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
